[1mannotated-doc[0m==0.0.4
[1mannotated-types[0m==0.7.0
[1manyio[0m==4.13.0
[1marabic-reshaper[0m==3.0.0
[1masn1crypto[0m==1.5.1
[1mbeautifulsoup4[0m==4.14.3
[1mblinker[0m==1.9.0
[1mboto3[0m==1.42.90
[1mbotocore[0m==1.42.90
[1mbrotli[0m==1.2.0
[1mcertifi[0m==2026.2.25
[1mcffi[0m==2.0.0
[1mcharset-normalizer[0m==3.4.7
[1mclick[0m==8.3.2
[1mcontourpy[0m==1.3.3
[1mcryptography[0m==46.0.7
[1mcssselect2[0m==0.9.0
[1mcycler[0m==0.12.1
[1mdefusedxml[0m==0.7.1
[1mdistro[0m==1.9.0
[1met-xmlfile[0m==2.0.0
[1mfastapi[0m==0.136.0
[1mflask[0m==3.1.3
[1mfonttools[0m==4.62.1
[1mfpdf[0m==1.7.2
[1mfpdf2[0m==2.8.7
[1mgit-remote-s3[0m==0.3.2
[1mgreenlet[0m==3.4.0
[1mh11[0m==0.16.0
[1mhtml5lib[0m==1.1
[1mhttpcore[0m==1.0.9
[1mhttpx[0m==0.28.1
[1midna[0m==3.11
[1mitsdangerous[0m==2.2.0
[1mjinja2[0m==3.1.6
[1mjiter[0m==0.14.0
[1mjmespath[0m==1.1.0
[1mkiwisolver[0m==1.5.0
[1mlxml[0m==6.0.4
[1mmarkdown[0m==3.10.2
[1mmarkupsafe[0m==3.0.3
[1mmatplotlib[0m==3.10.8
[1mnarwhals[0m==2.19.0
[1mnumpy[0m==2.4.4
[1mopenai[0m==2.32.0
[1mopenpyxl[0m==3.1.5
[1moscrypto[0m==1.3.0
[1mpackaging[0m==26.1
[1mpandas[0m==3.0.2
[1mpdf2image[0m==1.17.0
[1mpillow[0m==12.2.0
[1mplaywright[0m==1.58.0
[1mplotly[0m==6.7.0
[1mpycparser[0m==3.0
[1mpydantic[0m==2.13.1
[1mpydantic-core[0m==2.46.1
[1mpydyf[0m==0.12.1
[1mpyee[0m==13.0.1
[1mpyhanko[0m==0.34.1
[1mpyhanko-certvalidator[0m==0.30.2
[1mpyparsing[0m==3.3.2
[1mpypdf[0m==6.10.2
[1mpyphen[0m==0.17.2
[1mpython-bidi[0m==0.6.7
[1mpython-dateutil[0m==2.9.0.post0
[1mpyyaml[0m==6.0.3
[1mreportlab[0m==4.4.10
[1mrequests[0m==2.33.1
[1ms3transfer[0m==0.16.0
[1mseaborn[0m==0.13.2
[1msix[0m==1.17.0
[1msniffio[0m==1.3.1
[1msoupsieve[0m==2.8.3
[1mstarlette[0m==1.0.0
[1msvglib[0m==1.5.1
[1mtabulate[0m==0.10.0
[1mtinycss2[0m==1.5.1
[1mtinyhtml5[0m==2.1.0
[1mtqdm[0m==4.67.3
[1mtyping-extensions[0m==4.15.0
[1mtyping-inspection[0m==0.4.2
[1mtzlocal[0m==5.3.1
[1muritools[0m==6.0.1
[1murllib3[0m==2.6.3
[1muvicorn[0m==0.44.0
[1mweasyprint[0m==68.1
[1mwebencodings[0m==0.5.1
[1mwerkzeug[0m==3.1.8
[1mxhtml2pdf[0m==0.2.17
[1mzopfli[0m==0.4.1

python-telegram-bot==20.8
google-generativeai==0.7.1
